# provides the UCF constraints for the VGA display port of the SPARTAN3E board, including the I/O pin settings
NET "LCD_E" LOC = M18;
NET "LCD_E" IOSTANDARD = LVCMOS33;
NET "LCD_E" DRIVE = 4;
NET "LCD_E" SLEW = SLOW;
NET "LCD_RS" LOC = L18;
NET "LCD_RS" IOSTANDARD = LVCMOS33;
NET "LCD_RS" DRIVE = 4;
NET "LCD_RS" SLEW = SLOW;
NET "LCD_RW" LOC = L17;
NET "LCD_RW" IOSTANDARD = LVCMOS33;
NET "LCD_RW" DRIVE = 4;
NET "LCD_RW" SLEW = SLOW;
NET "SF_D_8" LOC = R15;
NET "SF_D_8" IOSTANDARD = LVCMOS33;
NET "SF_D_8" DRIVE = 4;
NET "SF_D_8" SLEW = SLOW;
NET "SF_D_9" LOC = R16;
NET "SF_D_9" IOSTANDARD = LVCMOS33;
NET "SF_D_9" DRIVE = 4;
NET "SF_D_9" SLEW = SLOW;
NET "SF_D_10" LOC = P17;
NET "SF_D_10" IOSTANDARD = LVCMOS33;
NET "SF_D_10" DRIVE = 4;
NET "SF_D_10" SLEW = SLOW;
NET "SF_D_11" LOC = M15;
NET "SF_D_11" IOSTANDARD = LVCMOS33;
NET "SF_D_11" DRIVE = 4;
NET "SF_D_11" SLEW = SLOW;

NET "clk" LOC = C9;
NET "clk" IOSTANDARD = LVCMOS33;
NET "reset" LOC = K17;
NET "reset" IOSTANDARD = LVTTL;
NET "reset" PULLDOWN;

# PlanAhead Generated physical constraints 

INST "bram/RAMB16_S9_inst" LOC = RAMB16_X0Y9;
